.index .banner {
  padding: 90px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/solanabanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .index .banner * {
    color: #fff; }

.index .section1 {
  /* Feature-CSS */ }
  .index .section1 .m-top-20 {
    margin-top: 20px; }
  .index .section1 .dividerx h2 {
    background: #fff;
    color: #000;
    text-align: center;
    width: 300px;
    display: block;
    margin: 0 auto; }
  .index .section1 .dividerx:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 3px solid #000;
    left: 0;
    right: 0;
    z-index: -1 !important; }
  .index .section1 .icon {
    color: #fff;
    padding: 15px;
    background: #323232;
    font-size: 50px;
    border-radius: 90px;
    border: 10px solid #323232; }
  .index .section1 .feature-box {
    text-align: center;
    padding: 20px;
    transition: .5s;
    margin-bottom: 30px;
    border: 1px solid #e8e8e8; }
  .index .section1 .feature-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .index .section1 .feature-box h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 15px; }

.index .section2 {
  padding: 30px 0;
  background: #091f2f; }
  .index .section2 * {
    color: #fff; }

.index .section3 span {
  font-size: 15px; }

.index .section3 a {
  text-decoration: none;
  color: #0062cc;
  border-bottom: 2px solid #0062cc; }

.index .section3 .box {
  padding: 60px 0px; }

.index .section3 .box-part {
  background: #FFF;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px; }

.index .section3 .text {
  margin: 20px 0px; }

.index .section3 .fa {
  color: #4183D7; }

.section4 .col-md-3 {
  padding: 2.1875rem; }
  .section4 .col-md-3 * {
    color: #fff; }

.section4 .x1 {
  background: #288be4; }

.section4 .x2 {
  background: #091f2f; }

.section4 .x3 {
  background: #fb4d42; }

.section4 .x4 {
  background: #091f2f; }

.section5 .row {
  margin-bottom: 20px; }

.login {
  background-image: url("../images/solanabanner.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .login .logincontainer {
    height: 67vh; }
  .login .container {
    align-content: center; }
  .login .card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important; }
  .login .card-header h3 {
    color: white; }
  .login .input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important; }
  .login input:focus {
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important; }
  .login .remember {
    color: white; }
  .login .remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px; }
  .login .login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px; }
  .login .login_btn:hover {
    color: black;
    background-color: white; }
  .login .links {
    color: white; }
  .login .links a {
    margin-left: 4px; }

.index .section1 .feature-box {
  min-height: 379px; }

.spacing {
  padding: 50px 0; }

footer {
  padding: 50px 0;
  background: #091f2f; }
  footer p {
    color: #fff;
    font-size: 20px; }
